@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir';
    src: url('../public/fonts/AvenirNextLTPro-Regular.otf');
  }

* {
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}